:root {
    --store-card-width: 100%;
    --store-card-height: 70vh;
    --store-card-cover-width: 30vw;
    --store-card-bookmark-size: 48px;
}

@media screen and (max-width: 440px){
    :root {
        --store-card-width: 320px;
        --store-card-height: 24vh;
        --store-card-cover-width: 150px;
        --store-card-bookmark-size: 32px;
    }
}
.ItemContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    /* align-content: flex-start; */
    flex-wrap: wrap;
    width: var(--store-card-width);
    height: var(--store-card-height);
    padding: 16px;
    margin-top: 4vh;
    font-size: 2vh;
    background: #FFFFFF;
    box-shadow: .5px .5px 1px 1px #CCCCCC20;
    box-sizing: border-box;
}

.BookContainer {
    display: flex;
    flex: 1;
    
}

.BookContainer:visited{
    color: inherit;
}

.BookContainer:nth-of-type(even){
    background: #FDFDFA;
}

.BookCover {
    width: var(--store-card-cover-width);
    min-width: 30vw;
    max-width: var(--store-card-cover-width);
    flex: 1;
    max-height: inherit;
    box-sizing: border-box;
}

.BookDetails { 
    flex: 2; 
    width: 30vw; 
    height: var(--store-card-height); 
    align-items: flex-start;
    justify-content: space-between;
    text-align: start;
    padding: 16px;
    box-sizing: border-box;
}

.BookIdentifiers {
    /* height: 40%; */
    line-height: 1px;
}

.BookMeta {
    height: 20%;
}

.BookPricing {
    height: 20%;
}

.BookMark {
    width: var(--store-card-bookmark-size); 
    height: var(--store-card-bookmark-size); 
    box-sizing: border-box;
    padding: inherit;
}

.BookReviews {
    margin-top: 12vh;
    width: 80vw;
}