:root {
    --item-card-width: 100%;
    --item-card-height: 90vh;
    --item-card-cover-width: 30vw;
    --item-card-bookmark-size: 48px;
}

@media screen and (max-width: 440px){
    :root {
        --item-card-width: 320px;
        --item-card-height: 24vh;
        --item-card-cover-width: 150px;
        --item-card-bookmark-size: 32px;
    }
}
.DetailsItemContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    /* align-content: flex-start; */
    /* flex-wrap: wrap; */
    width: var(--item-card-width);
    height: var(--item-card-height);
    padding: 16px;
    margin-top: 4vh;
    font-size: 2vh;
    background: #FFFFFF;
    box-shadow: .5px .5px 1px 1px #CCCCCC20;
    box-sizing: border-box;
}
.RHS {
    position: sticky;
    width: 20%;
    height: 100vh;
    box-shadow: -2px .5px 2px 1px #CCCCCC20;
}

.DetailsBookCover {
    width: var(--item-card-cover-width);
    min-width: 30vw;
    max-width: var(--item-card-cover-width);
    flex: 1;
    max-height: 70vh;
    box-sizing: border-box;
}

.DetailsBookInfo { 
    flex: 2; 
    width: 30vw; 
    height: var(--item-card-height); 
    align-items: flex-start;
    justify-content: space-between;
    text-align: start;
    padding: 16px;
    box-sizing: border-box;
}

.DetailsBookIdentifiers {
    /* height: 40%; */
    line-height: 1px;
}

.DetailsBookMeta {
    height: 20%;
}

.DetailsBookPricing {
    height: 20%;
}

.DetailsBuyActions {
    display: flex;
}

.BookMark {
    width: var(--item-card-bookmark-size); 
    height: var(--item-card-bookmark-size); 
    box-sizing: border-box;
    padding: inherit;
}

.DetailsBookReviews {
    margin-top: 12vh;
    width: 80vw;
}