:root {
	--searchbar-post-top: 8vh;
	--searchbar-post-bottom: null;
	--searchbar-icon-height: 4vh;
	--store-sidepanel-width: 240px;
	/* --store-sidepanel-left-post: 0; */
	--store-sidepanel-display: block;
	--store-results-container-width: 80%;
}

@media screen and (max-width: 440px) {
	:root {
		--searchbar-post-top: 8vh;
		--searchbar-post-bottom: 0;
		--searchbar-icon-height: 3vh;
		--store-sidepanel-width: 240px;
		/* --store-sidepanel-left-post: -220px; */
		--store-sidepanel-display: none;
		--store-results-container-width: 100%;
	}
}

.Results {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	align-items: space-between;
	background: #fafafa;
}

.SidePanel {
	/* display: flex;
    flex-direction: column;
    flex-grow: 1; */
	display: var(--store-sidepanel-display);
	width: 70%;
	max-width: var(--store-sidepanel-width);
	height: 100%;
	position: sticky;
	left: var(--store-sidepanel-left-post);
	margin-left: var(--store-sidepanel-left-post);
	top: 14vh;
	padding: 2vh;
	text-align: start;
	box-sizing: border-box;
	font-size: 1.4vh;
	background: #ffffff;
	box-shadow: 0.5px 0.5px 1px 1px #cccccc29;
}

.showPanel {
	display: block;
}

.ResultsContainer {
	display: flex;
	width: var(--store-results-container-width);
	margin-left: 2%;
	flex-wrap: wrap;
	text-align: start;
	box-sizing: border-box;
}
