:root {
    --store-card-width: 500px;
    --store-card-height: 320px;
    --store-card-cover-width: 220px;
    --store-card-bookmark-size: 48px;
}

@media screen and (max-width: 440px){
    :root {
        --store-card-width: 320px;
        --store-card-height: 24vh;
        --store-card-cover-width: 150px;
        --store-card-bookmark-size: 32px;
    }
}

.BookContainer {
    display: flex;
    flex: 1;
    min-width: var(--store-card-width);
    height: var(--store-card-height);
    max-height: var(--store-card-height);
    padding: 8px;
    font-size: 1.6vh;
    justify-content: space-between; 
    background: #FFFFFF;
    box-sizing: border-box;
    box-shadow: .5px .5px 1px 1px #CCCCCC20;
    margin: 2px;
}

.BookContainer:visited{
    color: inherit;
}

.BookContainer:nth-of-type(even){
    background: #FDFDFD;
}

.BookCover {
    width: var(--store-card-cover-width);
    max-width: 220px;
    flex: 1;
    max-height: inherit;
    box-sizing: border-box;
    box-shadow: 2px 0.5px 1px 1px #CCCCCC20;
}

.BookDetails { 
    display: flex;
    flex-direction: column; 
    flex: 1.5;
    width: 200px; 
    height: var(--store-card-height); 
    justify-content: space-between;
    padding: 8px;
    box-sizing: border-box;
}

.BookIdentifiers {
    /* height: 40%; */
    width: 100%;
    line-height: 1.2px;
}

.BookMeta {
    /* height: 20%; */
    line-height: 1px;
}

.BookPricing {
    line-height: 1px;
    margin-bottom: 2%;
    /* height: 16%; */
}

.BookMark {
    width: var(--store-card-bookmark-size); 
    height: var(--store-card-bookmark-size); 
    box-sizing: border-box;
    padding: inherit;
}