.SearchBar {
    display: flex;
    width: 100%;
    height: 6vh;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    position: sticky;
    left: 0;
    top: 8vh;
    box-sizing: border-box;
    z-index: 20;
    box-shadow: 2px 2px 2px 1px #22222229;
}

.SearchBar .Icon {
    height: 56%;
    margin: 1vh;
}

.SearchBar .Icon:nth-of-type(even) {
    box-shadow: -1.6px 0px #22222229;
}

.SearchBar div {
    display: flex;
    height: inherit;
    justify-content: center;
    /* flex-wrap: wrap; */
    align-items: center;
}
.SearchBar div p {
    height: 56%;
    padding: 6px;
    list-style: none;
    color: #FFF;
    margin: 4px 8px;
    background-color: #2D65FF;
    border-radius: 40px;
    box-shadow: 1px 0px #22222229;
    box-sizing: border-box;
}

.Results {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: space-between;
    background: #fafafa;
}
.SidePanel {
    width: 12%;
    min-width: 200px;
    height: 86vh;
    position: sticky;
    left: 0;
    top: 14vh;
    padding: 2vh;
    text-align: start;
    box-sizing: border-box;
    font-size: 1.4vh;
    background: #FFFFFF;
    box-shadow: .5px .5px 1px 1px #CCCCCC29;
}
.ResultsContainer {
    display: flex;
    width: 80%;
    margin-left: 2%;
    flex-wrap: wrap;
    text-align: start;
}