.App {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* min-height: 100vh; */
  /* max-width: 100vw; */
  /* width: 100vw; */
  /* box-sizing: border-box; */
  
  /* justify-content: center; */
  font-size: 1vh;
  color: #2e2e2e;
}

/* Loader Effect for Images */
.preview {
  filter: blur(2vw);
}

.loaded {
  opacity: 1;
  animation: reveal 0.3s ease-in;
}

.previewtext {
  font-family: cursive, fantasy, 'Segoe UI', Geneva, Verdana, -apple-system, BlinkMacSystemFont, sans-serif;
  color: #61dafb;
  filter: blur(.2px);
}

@keyframes reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
} */

/* .App-header {
  height: 8vh;
  min-height: 64px;
  box-sizing: border-box;
  z-index: 20;
} */

.App-link {
  color: #61dafb;
}

.BtnPrimary {
  color: white;
  background-color: #2d64ff;
}

.BtnPrimaryInv {
  background-color: white;
  color:#2d64ff;
}
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */